<?xml version="1.0"?>

<appSettings>
  <add key="CadenaConexion" value="Database=GrupoDavila;Server=192.168.2.53;Integrated Security=FALSE;UId=sa;Pwd=Davila.2015" />
  <add key="Modulo" value="agro"/>
  <add key="NovedadCosecha" value="101"/>
  <add key="TipoMtiquete" value="PNA"/>
  <add key="RegistroBascula" value="TLC"/>
  <add key="UrlFoto" value="\\192.168.2.52\Proyecto Infos 2.0\Carnet\Fotos\"/>
  <add key="UrlFormato" value="/Padelma/Formatos/Agronomico/"/>
  <add key="UrlInformes" value="/Padelma/Informes/Agronomico/"/>
  <add key="MenuInfos" value="http://192.168.2.52/infos/Inicio.aspx?clave="/>
  <add key="Usuario" value="Administrador"/>
  <add key="Clave" value="Control2013"/>
  <add key="Dominio" value="CIDAVILA"/>
  <add key="SeguridadInfos.security" value="http://localhost/seguridadInfos/security.asmx"/>
  <add key="ReportService" value="http://192.168.2.53/ReportServer"/>
</appSettings>