<?xml version="1.0"?>

 <appSettings>
    <add key="CadenaConexion" value="Database=GrupoDavila;Server=192.168.2.53;Integrated Security=FALSE;UId=sa;Pwd=Davila.2015" />
    <add key="Modulo" value="nomi"/>
    <add key="UrlFoto" value="\\192.168.2.11\Proyecto Infos 2.0\Carnet\Fotos\"/>
    <add key="RutaFoto" value="http://localhost/nomiinfos/fotos/"/>
    <add key="UrlInformes" value="/Padelma/Informes/Nomina/"/>
    <add key="ReportService" value="http://192.168.2.53/ReportServer"/>
    <add key="Usuario" value="Administrador"/>
    <add key="Clave" value="Control2013"/>
    <add key="Dominio" value="CIDAVILA"/>
    <add key="SeguridadInfos.security" value="http://192.168.2.52/seguridadInfos/security.asmx"/>
    <add key="TipoTransaccionNomina" value="LQN"/>
    <add key="TipoTransaccionPrima" value="PRI"/>
    <add key="TipoTransaccionCesa" value="CES"/>
    <add key="TipoTransaccionContrato" value="LQC"/>
  </appSettings>