<?xml version="1.0"?>

<appSettings>
  <add key="CadenaConexion" value="Database=GrupoDavila;Server=SOPORTE;Integrated Security=FALSE;UId=sa;Pwd=ejvkey2427" />
  <add key="Modulo" value="nomi"/>
  <add key="UrlFoto" value="\\192.168.2.11\Proyecto Infos 2.0\Carnet\Fotos\"/>
  <add key="RutaFoto" value="http://186.1.182.212/nomiinfos/fotos/"/>
  <add key="UrlInformes" value="/Padelma/Informes/Nomina/"/>
  <add key="ReportService" value="http://172.0.0.1:90/ReportServer"/>
  <add key="Usuario" value="Administrador"/>
  <add key="Clave" value="Control2013"/>
  <add key="Dominio" value="CIDAVILA"/>
  <add key="SeguridadInfos.security" value="http://dev.padelma.infos.com/SecurityWS/security.asmx"/>
  <add key="TipoTransaccionNomina" value="LQN"/>
  <add key="TipoTransaccionPrima" value="PRI"/>
  <add key="TipoTransaccionCesa" value="CES"/>
  <add key="TipoTransaccionContrato" value="LQC"/>
</appSettings>
