.grillas thead {
    background: #0d1d88;
    color: white;
}

td.action-item {
    background: none;
    background-color: white;
    color: white;
    border: 1px dotted #ddd !important;
}

th.action-item {
    background: none;
    background-color: white;
    color: white;
    border: none !important;
}

table.table-bordered {
    border: none;
}
