<?xml version="1.0"?>

<appSettings>
  <add key="Modulo" value="Admon" />
  <add key="CadenaConexion" value="Database=GrupoDavila;Server=172.0.0.1,1444;Integrated Security=FALSE;UId=sa;Pwd=Davila.2015" />
  <add key="Planta" value="AC"/>
  <add key="tiqueteBascula" value="TIQ" />
  <add key="prefijoOrden" value="ORD" />
  <add key="prefijoRemision" value="REM" />
  <add key="prefijoBioAceites" value="A" />
  <add key="prefijoBioPalmaceite" value="P" />
  <add key="tipoOrden" value="ORDEN" />
  <add key="tipoRemision" value="REMISION" />
  <add key="tipoBioAceites" value="BIOA" />
  <add key="tipoBioPalmaceite" value="BIOP" />
  <add key="ReportService" value="http://172.0.0.1,1444/ReportServer" />
  <add key="UrlFormatos" value="/Padelma/Formatos/Bascula/" />
  <add key="UrlInformes" value="/Padelma/Informes/Produccion/" />
  <add key="Usuario" value="Administrador" />
  <add key="Clave" value="Control2013" />
  <add key="Dominio" value="CIDAVILA" />
  <add key="SeguridadInfos.security" value="http://186.1.182.212/seguridadInfos/security.asmx" />
  <add key="tipoEMP" value="EMP" />
  <add key="tipoDPT" value="DPT" />

</appSettings>