<?xml version="1.0"?>

<appSettings>
  <add key="PortName" value="COM1" />
  <add key="BaudRate" value="9600" />
  <add key="Parity" value="None" />
  <add key="DataBits" value="8" />
  <add key="StopBits" value="One" />
  <add key="ReadTimeOut" value="500" />
  <add key="HandShake" value="None" />
  <add key="PortNameBoard" value="COM1" />
  <add key="BaudRateBoard" value="9600" />
  <add key="ParityBoard" value="None" />
  <add key="DataBitsBoard" value="8" />
  <add key="StopBitsBoard" value="One" />
  <add key="HandShakeBoard" value="None" />
  <add key="ReadTimeOutBoard" value="500" />
  <add key="PortNameRec" value="COM3" />
  <add key="BaudRateRec" value="9600" />
  <add key="ParityRec" value="None" />
  <add key="DataBitsRec" value="8" />
  <add key="StopBitsRec" value="One" />
  <add key="HandShakeRec" value="None" />
  <add key="ReadTimeOutRec" value="500" />
  <remove key="CadenaConexion" />
  <add key="CadenaConexion" value="Data Source=192.168.2.11;User Id=sa;Password=manuella;" />
  <add key="Acidez" value="ACIDEZ" />
  <add key="AlmendraQ" value="ALMQUEBRAD" />
  <add key="Humedad" value="HUMEDAD" />
  <add key="Impurezas" value="IMPUREZAS" />
  <add key="Indicador" value="PRO2000" />
</appSettings>