<?xml version="1.0"?>

<appSettings>
  <add key="Modulo" value="Contable"/>
  <add key="ModuloNomina" value="Nomi"/>
  <add key="UrlInformes" value="/Padelma/Informes/Contabilidad/"/>
  <add key="UrlInformesAgro" value="/Padelma/Informes/Agronomico/"/>
  <add key="UrlInformesNomina" value="/Padelma/Informes/Nomina/"/>
  <add key="ReportService" value="http://172.0.0.1,1444/ReportServer"/>
  <add key="Usuario" value="Administrador"/>
  <add key="Clave" value="Control2013"/>
  <add key="Dominio" value="CIDAVILA"/>
  <add key="SeguridadInfos.security" value="http://186.1.182.212/seguridadInfos/security.asmx"/>
  <add key="ADInfos.AccesoDatos" value="http://186.1.182.212/ADInfos/AccesoDatos.asmx"/>
</appSettings>