<?xml version="1.0"?>

<appSettings>
  <add key="Empresa" value="Aceites S.A."/>
  <add key="Modulo" value="AlmacenCompras"/>
  <add key="UrlCotizacion" value="\\192.168.3.46\Cotizacion\"/>
  <add key="tipoEstudio" value="ECO"/>
  <add key="tipoRequisicion" value="REQUI"/>
  <add key="tipoCotizacion" value="COT"/>
  <add key="tipoOrden" value="OCO"/>
  <add key="reportService" value="http://192.168.3.47/reportServer"/>
  <add key="urlFormato" value="/AceitesSa/Formatos/Almacen/"/>
  <add key="urlInformes" value="/AceitesSa/Informes/Almacen/"/>
  <add key="Usuario" value="infos"/>
  <add key="Clave" value="infossql"/>
  <add key="Dominio" value="ACEITES"/>
  <add key="AccesoDatos.AccesoDatos" value="http://186.1.182.212/adinfos/AccesoDatos.asmx"/>
  <add key="SeguridadInfos.security" value="http://186.1.182.212/seguridadInfos/security.asmx"/>
</appSettings>