<?xml version="1.0"?>

<appSettings>
  <add key="Modulo" value="tarima"/>
  <add key="MenuInfos" value="http://192.168.2.11/infos/Inicio.aspx?clave="/>
  <add key="tipomov" value="EMP"/>
  <add key="Usuario" value="infos"/>
  <add key="Clave" value="infossql"/>
  <add key="Dominio" value="ACEITES"/>
  <add key="AccesoDatos.AccesoDatos" value="http://186.1.182.212/adinfos/AccesoDatos.asmx"/>
  <add key="SeguridadInfos.security" value="http://186.1.182.212/seguridadInfos/security.asmx"/>
</appSettings>