<?xml version="1.0"?>

<appSettings>
  <add key="Modulo" value="labor" />
  <add key="ReportService" value="http://172.0.0.1,1444/ReportServer" />
  <add key="UrlFormato" value="/Padelma/Formatos/Bascula/" />
  <add key="UrlInformes" value="/Padelma/Informes/Laboratorio/" />
  <add key="Usuario" value="Administrador" />
  <add key="Clave" value="Control2013" />
  <add key="Dominio" value="CIDAVILA" />
  <add key="SeguridadInfos.security" value="http://186.1.182.212/seguridadInfos/security.asmx" />
  <add key="AccesoDatos.AccesoDatos" value="http://186.1.182.212/adInfos/AccesoDatos.asmx" />
</appSettings>
