<?xml version="1.0"?>

<appSettings>
  <add key="Modulo" value="labor" />
  <add key="ReportService" value="http://192.168.2.53/ReportServer" />
  <add key="UrlFormato" value="/Padelma/Formatos/Bascula/" />
  <add key="UrlInformes" value="/Padelma/Informes/Laboratorio/" />
  <add key="Usuario" value="Administrador" />
  <add key="Clave" value="Control2013" />
  <add key="Dominio" value="CIDAVILA" />
  <add key="SeguridadInfos.security" value="http://localhost:82/SecurityWS/security.asmx" />
  <add key="AccesoDatos.AccesoDatos" value="http://localhost:82/AccesoDatosWS/AccesoDatos.asmx" />
</appSettings>
