<?xml version="1.0"?>

<appSettings>
  <add key="Modulo" value="port"/>
  <add key="MenuInfos" value="http://192.168.2.11/infos/Inicio.aspx?clave="/>
  <add key="ReportService" value="http://192.168.3.47/ReportServer"/>
  <add key="UrlFormatos" value="/AceitesSa/Formatos/Bascula/"/>
  <add key="Usuario" value="infos"/>
  <add key="Clave" value="infossql"/>
  <add key="Dominio" value="AcEITES"/>
  <add key="AccesoDatos.AccesoDatos" value="http://localhost/adinfos/AccesoDatos.asmx"/>
  <add key="SeguridadInfos.security" value="http://localhost/seguridadInfos/security.asmx"/>
</appSettings>