<?xml version="1.0"?>

<appSettings>
  <add key="Modulo" value="logistica"/>
  <add key="UrlInformes" value="/Padelma/Informes/Logistica/"/>
  <add key="tipoProgramacion" value="PDPT"/>
  <add key="ReportService" value="http://192.168.2.53/ReportServer"/>
  <add key="Usuario" value="Administrador"/>
  <add key="Clave" value="Control2013"/>
  <add key="Dominio" value="CIDAVILA"/>
  <add key="AccesoDatos.AccesoDatos" value="http://localhost/adInfos/AccesoDatos.asmx"/>
  <add key="SeguridadInfos.security" value="http://localhost/SeguridadInfos/security.asmx"/>
</appSettings>